<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <withJansi>true</withJansi>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n%rEx{full,
                io.netty.channel.AbstractChannelHandlerContext,
                io.micronaut.http.netty.stream.HttpStreamsClientHandler,
                io.micronaut.http.netty.stream.HttpStreamsHandler,
                io.reactivex.Flowable,
                io.reactivex.internal.operators.flowable.FlowableMap}
            </pattern>
        </encoder>
    </appender>

    <root level="warn">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>
